.p-login_root {
  display: flex;
}

.p-login_header {
  margin: var(--pad2);
  margin-right: 0;
  padding-bottom: var(--pad);

  h1,
  p {
    margin: var(--pad2) 0;
  }

  p {
    font-size: 1.4rem;
  }
}

.p-login_instruction {
  height: 100%;
  width: 400px;
  min-width: 300px;
  padding-right: var(--pad4);
  border-right: 1px solid var(--cl-gray);
  position: relative;
}

.p-login_loading-bars {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);

  > .w_loading-bars {
    margin: 0 auto;
    height: 25px;
    width: 90px;
  }
}

.p-login_webview-container {
  flex: 1;
}
