.notifs {
  &_header {
    font-size: 0;
    padding-top: 4px;
    background-color: #f6f8fa;
  }

  &_tabs {
    font-size: 15px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    li.is-active {
      margin-bottom: -1px;
      border-bottom: 2px solid #de7d0e;
      color: #de7d0e;
      font-weight: bold;
    }

    a {
      display: flex;
      padding: 8px 12px;
      align-items: center;
      cursor: pointer;
    }
  }

  &_main {
    height: 94%;
    display: flex;
  }

  &_side {
    display: flex;
    flex: 1;
  }

  &_repos {
    flex: 1;
    min-width: 120px;
    max-width: 150px;
    margin: 4px;
    overflow: auto;
  }

  &_notifs {
    flex: 1;
    border-left: 1px solid rgba(10, 10, 10, 0.1);
    border-right: 1px solid rgba(10, 10, 10, 0.1);
    font-size: 13px;
    min-width: 230px;
    overflow: auto;
  }

  &_notif {
    padding: 8px;
    padding-top: 24px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    display: flex;
    position: relative;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 8px #ccc;
    }
  }

  &_notif.is-read {
    background-color: rgba(50, 50, 50, 0.1);

    & .notifs_notif-title {
      font-weight: normal;
    }
  }

  &_notif-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
  }

  &_notif-repo {
    // font-size: 12px;
  }

  &_notif-time {
    color: #aaa;
    font-size: 12px;
    position: absolute;
    top: 4px;
    right: 4px;
  }

  &_github {
    flex: 1;

    webview {
      width: 1040px;
      height: 100%;
      overflow-x: hidden;
    }
  }
}
