.notif-list {
  width: 260px;
  max-height: 100%;
  overflow-y: scroll;
  border-left: 1px solid var(--cl-gray);
  border-right: 1px solid var(--cl-gray);
}

.notif-list_loading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .w_loading-bars {
    width: 50px;
    height: 10px;
  }
}

.notif-list_item {
  display: block;
  padding: var(--pad2);
  border-bottom: 1px solid var(--cl-gray);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.1s, background-color 0.2s;
  max-height: 0;
  opacity: 0;
  transform: translateY(-100px);
  animation: notif-list_item-insert 0.4s ease forwards;

  &:hover {
    box-shadow: 0 0 8px var(--cl-gray-dd);
    z-index: 10;
  }
}

@keyframes notif-list_item-insert {
  99% {
    max-height: 120px;
  }

  100% {
    max-height: 180px;
    opacity: 1;
    transform: translateY(0);
  }
}

.notif-list_item-body {
  margin-top: var(--pad4);
}

.notif-list_item-kind {
  position: absolute;
  top: var(--pad);
  left: var(--pad6);

  &.is-open {
    fill: var(--cl-gh-open);
  }

  &.is-closed {
    fill: var(--cl-gh-closed);
  }

  &.is-merged {
    fill: var(--cl-gh-merged);
  }

  &.is-unknown {
    fill: var(--cl-gh-unknown);
  }
}

.notif-list_item-check {
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: var(--pad);
  color: #edf2f4;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;

  .notif-list_item:not(.is-read):hover & {
    color: var(--cl-accent);
    opacity: 0.9;
  }

  .notif-list_item:not(.is-read) &:hover {
    background-color: var(--cl-accent);
    color: var(--cl-white);
  }
}

.notif-list_item-time {
  color: #aaa;
  font-size: 12px;
  position: absolute;
  top: var(--pad);
  right: var(--pad);
}

.notif-list_item-title {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.4rem;
  word-wrap: break-word;
}

.notif-list_item.is-read {
  background-color: #ececec;

  & .notif-list_item-title {
    font-weight: normal;
  }

  & .notif-list_item-check {
    color: var(--cl-gray-dd);

    > i {
      animation: 0.3s ease-out notif-list_item-check_read;
    }
  }
}

@keyframes notif-list_item-check_read {
  20% {
    color: var(--cl-accent);
    transform: scale(2.2);
  }

  85% {
    color: var(--cl-gray-d);
    transform: scale(0.9);
  }
}

.notif-list_load-more {
  cursor: pointer;
  display: block;
  text-align: center;
  height: var(--pad6);
  line-height: var(--pad6);
  color: var(--cl-accent);

  &:hover {
    color: var(--cl-white);
    background-color: var(--cl-accent);
  }
}
