.p-notifs_root {
  display: flex;
}

.p-notifs_header {
  height: var(--pad6);
  display: flex;
  align-items: center;

  &.for-stream {
    background-color: var(--cl-base-d);
  }

  &.for-webview {
    background-color: var(--cl-base);
    box-shadow: 0 4px 5px -3px #96939b;
    position: relative;
  }
}

.p-notifs_streams {
  display: flex;
  height: calc(100% - var(--pad6));
}

.p-notifs_webview-container {
  flex: 1;
}
