.p-notifs_root {
  display: flex;
}

.p-notifs_header {
  height: var(--pad6);
  display: flex;
  align-items: center;

  &.for-stream {
    background-color: var(--cl-base-d);
    color: var(--cl-base);
  }

  &.for-webview {
    background-color: var(--cl-base);
    box-shadow: 0 4px 5px -3px #96939b;
    position: relative;
  }
}

/* TODO: Share same CSS with webview-controll buttons */
.p-notifs_header-items {
  margin-left: 56px;
}

.p-notifs_header-item {
  display: inline-block;
  margin-right: var(--pad);
  padding: 0 var(--pad);
  line-height: var(--pad4);

  &.for-counts {
    width: 70px;
    text-align: center;
  }
}

.p-notifs_header-action {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
  display: inline-block;
  padding: 0;

  &:not([disabled]):hover {
    color: var(--cl-accent);
  }

  &[disabled] {
    color: var(--cl-gray-d);
    cursor: default;
  }

  .fa-spin {
    animation-duration: 1s;
  }
}

.p-notifs_streams {
  display: flex;
  height: calc(100% - var(--pad6));
}

.p-notifs_webview-container {
  flex: 1;
}
