.loading {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  div {
    animation: loading-bar 1.2s infinite;
    background-color: #ccc;
    border-radius: 2px;
    opacity: 0.8;
    flex: 1;
    margin-right: 8%;
  }

  div:nth-child(1) {
    animation-delay: 0.1s;
  }

  div:nth-child(2) {
    animation-delay: 0.2s;
  }

  div:nth-child(3) {
    animation-delay: 0.3s;
  }

  div:nth-child(4) {
    animation-delay: 0.4s;
  }

  div:nth-child(5) {
    animation-delay: 0.5s;
  }
}

@keyframes loading-bar {
  30% {
    transform: scaleY(2);
    border-radius: 0;
  }
}
