.notif-counts-group {
  margin-bottom: 12px;

  &-name {
    font-size: 14px !important;
    background-color: #eee;
    padding: 4px;
    color: #333;
  }
}

.notif-counts-item {
  display: block;
  padding: 4px;
  padding-left: 6px;
  font-size: 13px;
  margin-bottom: 4px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  position: relative;

  &.is-selected,
  &:hover {
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    font-weight: bold;
  }
}

.notif-counts-item-name {
  max-width: 86%;
  word-wrap: break-word;
  display: inline-block;
}

.notif-counts-item-count {
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
