/* Common styles */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 13px;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root,
.c_route-container,
.c_page-root {
  height: 100%;
}
