/* Common styles */

:root {
  --pad: 6px;
  --pad2: 12px;
  --pad4: 24px;
  --pad6: 36px;
  --pad8: 48px;

  /* Colors */
  --cl-base: #f6f8fa;
  --cl-base-dark: #5c6975;
  --cl-white: #fff;
  --cl-gray: #eaeaea;
  --cl-gray-dark: #888;
  --cl-black: rgb(10, 10, 10);
  --cl-blue-light: rgb(46, 171, 245);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 13px;
  color: var(--cl-black);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root,
.c_route-container,
.c_page-root {
  height: 100%;
}
