/* Common styles */

:root {
  --pad: 6px;
  --pad2: 12px;
  --pad4: 24px;
  --pad6: 36px;
  --pad8: 48px;

  /* Colors */
  --cl-base: #edf2f4;
  --cl-base-d: #8d99ae;
  --cl-accent: #ff5d73;
  --cl-white: #fff;
  --cl-black: #35383c;
  --cl-gray: #dcdcdd;
  --cl-gray-d: #bfbfbf;
  --cl-gray-dd: #888;

  /* GitHub icon colors */
  --cl-gh-open: #28a745;
  --cl-gh-closed: #cb2431;
  --cl-gh-merged: #6f42c1;
  --cl-gh-unknown: #666;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 13px;
  color: var(--cl-black);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root,
.c_route-container,
.c_page-root {
  height: 100%;
}

::-webkit-scrollbar {
  width: var(--pad);
  background: #fdfdfd;
}

::-webkit-scrollbar-thumb {
  background: #cccccd;
  border-radius: 1ex;
}

.please-wait {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 72px;
    color: var(--cl-gray-dd);
  }

  .w_loading-bars {
    height: 60px;
    width: 240px;
    margin: 0 auto;
  }
}
