.repo-tree {
  width: 130px;
  padding: 0 2px;
  max-height: 100%;
  overflow-y: scroll;
}

.repo-tree_repos {
  margin-bottom: 24px;
}

.repo-tree_org-name {
  font-size: 1.4rem;
  background-color: var(--cl-base);
  padding: var(--pad);
  color: #333;
  border-radius: 4px;
}

.repo-tree_repo {
  display: block;
  padding: var(--pad);
  margin-bottom: var(--pad);
  cursor: pointer;
  border-bottom: 1px solid transparent;
  position: relative;

  &:hover,
  &.is-selected {
    color: var(--cl-accent);
    border-bottom: 1px solid var(--cl-base);
  }
}

.repo-tree_repo-name {
  max-width: 86%;
  word-wrap: break-word;
  display: inline-block;
}

.repo-tree_notif-count {
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
