.login-steps_steps {
  margin: var(--pad4) 0;
  padding-left: var(--pad8);
  list-style-type: none;
  counter-reset: steps;

  &.is-disabled {
    opacity: 0.4;
  }
}

.login-steps_step {
  position: relative;
  line-height: var(--pad4);
  margin: var(--pad2) 0;
  padding-bottom: var(--pad2);
  border-bottom: 1px solid var(--cl-gray);

  &::before {
    counter-increment: steps;
    content: counter(steps) ".";
  }

  &.is-done {
    opacity: 0.4;
  }

  &.is-current {
    .login-steps_step-icon {
      color: var(--cl-accent);
    }
  }

  p {
    margin: 0;
  }
}

.login-steps_notif-scope-img {
  border: 1px solid var(--cl-gray);
  box-shadow: 0 0 2px var(--cl-gray);
  padding: 2px 4px;
  margin-top: var(--pad4);
  width: 100%;
}

.login-steps_step-icon {
  position: absolute;
  top: var(--pad);
  left: calc(-1 * var(--pad6));
}

.login-steps_form {
  margin-top: var(--pad);
  display: flex;
}

.login-steps_form_token {
  width: 80%;
}

.login-steps_form_submit {
  color: var(--cl-black);
  cursor: pointer;
  padding: 4px var(--pad);
  margin-left: var(--pad);

  &[disabled] {
    cursor: default;
    color: var(--cl-gray-d);
  }

  &:not([disabled]):hover {
    color: var(--cl-accent);
  }
}
